@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--ctd-green: 97 172 164;
		--ctd-pink: 241 110 167;
		--ctd-yellow: 255 243 110;
	}

	body {
        /* The CTD gradient, baybee! */
		background: linear-gradient(
			rgb(var(--ctd-green)),
			rgb(var(--ctd-yellow)),
			rgb(var(--ctd-pink))
		);
	}
}
